// Custom styles.
.post {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
 }

 .post-button {
     margin-top: 0px;
     text-align: right;
 }

 .post-button a {
    padding: 0 8px 0 10px;
    /* border: 2px solid #666; */
 }

 .pace .pace-progress {
     background: #0d0c0c; /*进度条颜色*/
     height: 3px;
 }
 .pace .pace-progress-inner {
      box-shadow: 0 0 10px #0d0c0c, 0 0 5px     #0d0c0c; /*阴影颜色*/
 }
 .pace .pace-activity {
     border-top-color: #0d0c0c;    /*上边框颜色*/
     border-left-color: #0d0c0c;    /*左边框颜色*/
 }

 .posts-expand .post-body h2 {
   border-bottom: 1px solid #eee;
 }
